/* ----------------------- service page -----------------------*/
/* breadcrumb */

/* end breadcrumb */
/* section */
.section-title{
    color: #157ead;
}
#container-logo{
    margin: 10px;
    display: flex;
    outline: none;
}
.wrapper-logo-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
}
#container-logo .wrapper-logo-item > a {
    color: #414143;
}
#container-logo .wrapper-logo-item > a:hover{
    color: #2a92d0ee;
}
#container-logo .wrapper-logo-item a > img{
    width: 100px;
    height: 100px;
    padding: 15px;
    border: 5px solid #eee;
    border-radius: 15px;
}
#container-logo .wrapper-logo-item a > img:hover{
    border: 2px solid #2a92d0ee;
}
/* end section */
/* responsive  */
@media (max-width: 770px) {
.breadcrumb-container{
    margin-top: 75px;
}
#container-logo .wrapper-logo-item > a {
    font-size: 15px;
}
#container-logo .wrapper-logo-item a > img{
    width: 80px;
    height: 80px;
    padding: 10px;
}
}
/* end responsive */
/* end service page */
